/*header*/
.container {
    width: 100%;
    margin: 0 auto;
}

.cabezera {
    z-index: 100;
    background: #333;
    color: white;
    padding: 1.5rem;
    left: 0;
    top: 0;
    right: 0;
}

.cabezera a {
    color: white;
    text-decoration: none;
}

/*Logo*/
.logo {
    letter-spacing: 15px;
    font-size: 1.3em;
    margin-left: 50px;
}

.contenedor-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    margin: 0;
    padding: 0;
    width: 800px;
}


/*Ingreso datos*/
.Ingreso_datos {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    justify-content: center;
}

.form-control {
    margin-bottom: 20px;
}

.boton_agregar {
    border: solid 1px rgb(101, 101, 101);
    padding: 15px 50px;
    font-weight: bold;
    color: rgb(91, 91, 91);
}

.boton_agregar:hover {
    border: solid 1px rgb(26, 223, 0);
    color: rgb(26, 223, 0);
}

.boton_eliminar {
    border: solid 1px rgb(255, 0, 0);
    padding: 15px 50px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    margin-bottom: 30px;
}

/*Lista de datos*/
.lista_datos {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    justify-content: center;
}


/*Footer*/
.footer {
    background: #333;
    text-align: center;
}

.footer {
    width: 100%;
}

.footer .contenedor-footer {
    background-color: #333;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.footer .contenedor-footer small {
    font-size: 15px;
}